* {
  text-align: center;
  margin: 0;
  padding: 0;
}

#main {
  margin: 64px auto;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: #3F3D56;
  margin: 32px auto 16px;
}

h1 span {
  color: #EE24FF;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  margin: 16px auto 32px;
}

p strong {
  color: #3F3D56;
}

a {
  color: #3F3D56;
  font-family: 'open sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#footer a + a {
  margin-left: 44px;
}

#line {
  width: 391px;
  border: 1px solid #ECEFF2;
  margin: 0 auto 16px;
}

#wave {
  position: fixed;
  bottom: -10px;
  width: 100vw;
}

#wave img {
  width: 100%;
}